.container {
  display: flex;
  padding: 40px 20px;
  justify-content: space-between;

  &.deposit {
    background-color: #ededed;
  }

  &.withdraw{
    background-color: white;
  }
}

.balance-container {
  display: flex;
  flex-direction: column;
}

.balance-text {
  font-size: 14px;
  color: #484848;
  margin-top: 10px;
}
