.row {
  position: absolute;
  width: 100%;
  text-align: center;
  transform: translateY(-50%);
  top: 50%;
}

.text {
  background-color: white;
  padding: 5px 20px;
  border-radius: 15px;
  border: 1px solid green;
  font-size: 14px;

  &.error{
    border: 1px solid red;
  }
}
